* {
  box-sizing: border-box;
}

:root {
  --background-color: #f0e6e4;
  --header-footer-color: #dea350;
  --question-card-color: antiquewhite;
  --active-color: #ba563f;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #f0e6e4;
}

body.dark {
  background-color: rgb(50, 51, 58);
  color: white;
}

header {
  border: 2px solid #000000;
  text-align: center;
  width: 100%;
  background-color: #dea350;
}

main {
  margin: 50px;
}
