form {
  display: block;
  border: 1px solid;
  box-shadow: 0.3em 0.4em 1em var(--active-color);
  border-radius: 5px;
  padding: 1.5em;
}

.create-card__title {
  text-align: center;
}

textarea,
input,
small {
  display: block;
  width: 100%;
  margin: 1em auto;
}
small {
  text-align: right;
}

label {
  font-size: 1.2em;
  font-weight: bold;
}

.create-card__button {
  display: block;
  min-width: 8em;
  margin: 2em auto;
  padding: 0.4em;
  font-size: 1em;
  border-radius: 5px;
  background-color: var(--active-color);
  color: white;
}
